{% extends 'base.html.twig' %}

{% block title %}Hello RegistrationController!{% endblock %}

{% block body %}
<div class="form-container m-4">

    {{form_start(form, {'attr':{'class': ' form-group'}})}}
      <div>{{form_row(form.email, {'attr':{'class': 'text-success form-control', 'placeholder': 'put your email'}})}}</div>
      <div>{{form_row(form.username, {'attr':{'class': 'text-info form-control', 'placeholder': 'put your username'}})}}</div>
      <div>{{form_row(form.password, {'attr':{'class': ' form-control'}})}}</div>
      <div>{{form_row(form.verificationPassword, {'attr':{'class': ' form-control'}})}}</div>
      <div>{{form_row(form.image, {'attr':{'class': 'form-control fileInput'}})}}</div>

      <input type="submit" class="btn btn-primary m-3" style=" background-color: #fc5c64 !important;  border: 1px solid #fc5c64 !important;" value="Submit"/>
    {{form_end(form)}}

</div>

{% endblock %}
