{% extends 'base.html.twig' %}

{% block title %}Airnb clone{% endblock %}

{% block body %}

<style  type="text/css">

.card:hover{
   transform: scale(1.05);
box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
opacity: 0.9;
}

.title{
  font-size: 46px;
  font-weight: 100;
  color: #484848;
  margin-bottom: 60px;
}
.title span{
  font-weight: 800;
  color: #FF5A5F;
}
</style>

<div class="text-center mt-3 mx-2">
  <h2 class="title"><span>Live there.</span> <br> Book unique homes <br>and experience a city like a local.</h2>
</div>




<div class="d-flex justify-content-around flex-wrap">

      {% for flat in flats %}
           <a href="{{ path("show_flat", {'id': flat.id}) }}" class="text-decoration-none text-dark">
          <div class="card border border-light m-3" style="width: 18rem;">
            <div class="embed-responsive embed-responsive-16by9">
              <img src="{{  flat.productImages[0].getImagePath() }}" class="card-img-top rounded" alt="...">
            </div>
            <div class="card-body">
              {% set address = flat.address|split(',')  %}

              <p class="card-text"><strong>{{ address[1]|title }}</strong></p>
              <p class="card-text">{{ flat.description|u.truncate(45,'...')|capitalize }}</p>
              <p class="card-text"><strong>{{ flat.pricePerDay }} $</strong> night</p>

            </div>
          </div>
          </a>
      {% endfor %}


</div>

{% endblock %}
