{% extends 'base.html.twig' %}

{% block title %}Airnb clone{% endblock %}

{% block body %}

{% set address = flat.address|split(',')  %}
<h2 style="margin:30px;">{{ address[0] }} {{ address[1]|title }}</h2>


<div class="parent">

    {% for image in flat.productImages %}
      <div class="{{'div' ~ loop.index}}">
          <img src="{{ image.getImagePath() }}"  style="width: 100%; height: 100%;"/>
      </div>
    {% endfor %}
</div>






            {# <img src="{{ asset('images/products/' ~ flat.productImages[0].imageName) }}" class="card-img-top" alt="..."> #}
            <div class="d-flex flex-column m-3">

              <div class="d-flex mb-1">
                <h2 class="mx-3" >Full location at {{ flat.owner.username|title }} place</h2>
                 <img class="avatar-large" src="{{ flat.owner.getImagePath() }}" />
              </div>
              <div>
                 <ul class="list-group list-group-horizontal mx-3">
                    <li class="list-group-item">{{flat.people}} people</li>
                    <li class="list-group-item">{{flat.room}} room</li>
                    <li class="list-group-item">{{flat.bed}} bed</li>
                    <li class="list-group-item">{{flat.bathroom}} bathroom</li>
                </ul>
              </div>

            </div>






          <div class="border-top border-bottom d-flex justify-content-between flex-wrap">

            <div class="d-flex flex-column justify-content-between ">

              <div class=" p-5 " style="max-width:450;">
                <p style="font-size: 20px;">{{flat.description|capitalize  }}</p>
              </div>

              <div class="">
                  <h4 class="m-4">All options of this place</h4>
                  <ul "list-group">
                    {{ flat.flatOption.wifi ? "<li class='list-group-item mb-3'><img class='avatar' src='https://cdn-icons-png.flaticon.com/512/93/93158.png' /><span class='mx-3'>Wifi</span></li>": null }}
                    {{ flat.flatOption.tv ? "<li class='list-group-item mb-3'><img class='avatar' src='https://png.pngtree.com/element_our/md/20180516/md_5afbfa01e121d.jpg' /><span class='mx-3'>TV HD</span></li>" : null }}
                    {{ flat.flatOption.parking ? "<li class='list-group-item mb-3'><img class='avatar' src='https://www.freeiconspng.com/thumbs/parking-icon-png/parking-icon-png-32.png' /><span class='mx-3'>Free parking</span></li>" : null }}
                    {{ flat.flatOption.workingPlace ? "<li class='list-group-item mb-3'><img class='avatar' src='https://uxwing.com/wp-content/themes/uxwing/download/business-professional-services/working-on-office-icon.png' /><span class='mx-3'>Working space</span></li>" : null}}
                    {{ flat.flatOption.kitchen ? "<li class='list-group-item mb-3'><img class='avatar' src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTg-HHqk5fBVX3FsFKQA640nmC0oHy_U3FVFA&usqp=CAU' /><span class='mx-3'>Kitchen</span></li>" : null}}
                    {{ flat.flatOption.animal ? "<li class='list-group-item mb-3'><img class='avatar' src='https://www.freeiconspng.com/thumbs/animal-icon-png/animal-paw-vector-icon-animals-icons-icons-download-0.png' /><span class='mx-3'>Animals allowed</span></li>" : null}}
                    {{ flat.flatOption.aircon ? "<li class='list-group-item mb-3'><img class='avatar' src='https://i.pinimg.com/474x/98/82/32/988232a8dcfeebce37164e5420826119.jpg' /><span class='mx-3'>Aircon</span></li>" : null}}
                  </ul>
              </div>

            </div>



       <!-- This is to make the Form Contents appear on the Image -->
      {% if app.user == null %}
      {% if app.user != flat.owner.id %}
      <div class="border border-dark rounded p-5">
        <h1 style="font-size: 2em; font-weight: bold; margin-bottom: 15px; text-align:center;">Book unique home and experiences.</h1>
          <div class="d-flex align-items-baseline">
            <h4 class="mx-2"><strong>{{ flat.pricePerDay  }} €</strong></h4>
            <span><p>by night</p></span>
          </div>
          {{ include('booking/_form.html.twig') }}
      </div>
      {% endif %}
      {% endif %}

      </div>




{% endblock %}
