{% extends 'base.html.twig' %}

{% block title %}Airnb clone{% endblock %}

{% block body %}

<h1 class="m-4">{{ flat.address}}</h1>


<div class="parent">

    {% for image in flat.productImages %}
      <div class="{{'div' ~ loop.index}}">
          <img src="{{ asset('images/products/' ~ image.imageName) }}"  style="width: 100%; height: 100%;"/>
      </div>
    {% endfor %}
</div>


<div class="flats-container">


          <div class="card" style="width: 18rem;">
            {# <img src="{{ asset('images/products/' ~ flat.productImages[0].imageName) }}" class="card-img-top" alt="..."> #}
            <div class="card-body">
              <p class="card-text">{{ flat.description }}</p>
              <p class="card-text">owner: {{ flat.owner.username }}</p>
              <p class="card-text">price/day: {{ flat.pricePerDay }} $</p>

            </div>
          </div>



</div>

{% endblock %}
