{% extends 'base.html.twig' %}

{% block title %}Airnb clone{% endblock %}

{% block body %}

{% set address = flat.address|split(',')  %}
<h2 style="margin:30px;">{{ address[0] }} {{ address[1]|title }}</h2>


<div class="parent">

    {% for image in flat.productImages %}
      <div class="{{'div' ~ loop.index}}">
          <img src="{{ image.getImagePath() }}"  style="width: 100%; height: 100%;"/>
      </div>
    {% endfor %}
</div>






            {# <img src="{{ asset('images/products/' ~ flat.productImages[0].imageName) }}" class="card-img-top" alt="..."> #}
            <div class="d-flex flex-column m-3">

              <div>
                <h2 class="mx-3" >Full location at {{ flat.owner.username|title }} place</h2>
              </div>
              <div>
                 <ul class="list-group list-group-horizontal mx-3">
                    <li class="list-group-item">{{flat.people}} people</li>
                    <li class="list-group-item">{{flat.room}} room</li>
                    <li class="list-group-item">{{flat.bed}} bed</li>
                    <li class="list-group-item">{{flat.bathroom}} bathroom</li>
                </ul>
              </div>

            </div>




          <div class="border-top border-bottom d-flex justify-content-between flex-wrap">
            <div class=" p-5 " style="width:500px;">
              <p style="font-size: 20px;">{{flat.description|capitalize  }}</p>
            </div>

       <!-- This is to make the Form Contents appear on the Image -->
      {% if app.user.id != flat.owner.id %}
      <div class="border border-primary rounded p-5">
          {{ include('booking/_form.html.twig') }}
      </div>
      {% endif %}

      </div>




{% endblock %}
