{% extends 'base.html.twig' %}

{% block title %}Airnb clone{% endblock %}

{% block body %}

{% set address = flat.address|split(',')  %}
<h2 class="m-4">{{ address[0] }} {{ address[1]|title }}</h2>


<div class="parent">

    {% for image in flat.productImages %}
      <div class="{{'div' ~ loop.index}}">
          <img src="{{ asset('images/products/' ~ image.imageName) }}"  style="width: 100%; height: 100%;"/>
      </div>
    {% endfor %}
</div>






            {# <img src="{{ asset('images/products/' ~ flat.productImages[0].imageName) }}" class="card-img-top" alt="..."> #}
            <div class="d-flex flex-column m-3">

              <div>
                <h2 class="mx-3" >Full location at {{ flat.owner.username|title }} place</h2>
              </div>
              <div>
                 <ul class="list-group list-group-horizontal mx-3">
                    <li class="list-group-item">{{flat.people}} people</li>
                    <li class="list-group-item">{{flat.room}} room</li>
                    <li class="list-group-item">{{flat.bed}} bed</li>
                    <li class="list-group-item">{{flat.bathroom}} bathroom</li>
                </ul>
              </div>

            </div>




          <div class="border-top border-bottom d-flex justify-content-between flex-wrap">
            <div class=" p-5 ">
              <p style="font-size: 20px;">{{flat.description|capitalize  }}</p>
            </div>


      <div class="border border-primary rounded">
			<form class="container mt-3 rounded" style="margin: 72px; max-width: 420px; padding: 30px 30px 60px 30px; background-color: white; font-family: Helvetica; font-weight: 600; color: #484848;">
				<h1 style="font-size: 2em; font-weight: bold; margin-bottom: 15px;">Book unique home and experiences.</h1>
				<div class="input-group-prepend" style=" font-size: small;">
					<label>CHECK IN</label> &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;
					<label>CHECK OUT</label><br>
				</div>
				<div class="input-group" style=" font-size: small;">
					<input class="form-control" type="date" placeholder="dd-mm-yyyy" name="checkin" />
					<input class="form-control" type="date" placeholder="dd-mm-yyyy" name="checkout" />
				</div>
				<br>
				<div class="form-group" style=" font-size: small;">
					<label>GUESTS</label><br>
					<select class="custom-select">
						<option selected>1 guest</option>
						<option value="Adults">Adults</option>
						<option value="Children">Children</option>
						<option value="Infants">Infant</option>
					</select><br>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-lg" style="float: right;">Book</button>
				</div>
			</form>
      </div>
			<!-- Form Ends here. -->
          </div>

          <!-- This is to make the Form Contents appear on the Image -->



{% endblock %}
