{{ form_start(form , {'attr': {'class': 'container mt-3 rounded'}}) }}
      			<h1 style="font-size: 2em; font-weight: bold; margin-bottom: 15px;">Book unique home and experiences.</h1>
      <div class="input-group-prepend" style=" font-size: small;">
					<label>CHECK IN</label> &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;
					<label>CHECK OUT</label><br>
			</div>

      <div class="input-group" style=" font-size: small;">
          {{ form_row(form.startDate, {'label': false })}}
          {{ form_row(form.endDate, {'label': false })}}
      </div>
      <div class="input-group-prepend" style=" font-size: small;">
          <label>GUESTS</label><br>
      </div>
      <div class="input-group" style=" font-size: small;">

           {{ form_row(form.numberPeople, {'label': false, 'attr': {'class': 'custom-select'}} )}}
      </div>




      {{ form_row(form.accepted, {'label': false , 'attr':{'class': 'd-none'}})}}
      {{ form_row(form.rejected, {'label': false , 'attr':{'class': 'd-none'}})}}


    {{ form_widget(form) }}
    <div class="form-group">
    <button class="btn btn-primary btn-lg" style="float: right;">{{ button_label|default('Book') }}</button>
    </div>
{{ form_end(form) }}
