<div class="navbar navbar-expand-sm navbar-light navbar-lewagon bg-light">
  <div class="container-fluid">
    <a class="navbar-brand " href="{{ path('flats')}}">
      <img src="https://i.ibb.co/MknhhNT/1632495-airbnb-circle-round-icon-travel-icon.png" class="d-inline" />
      <h1 class="navbar-brand d-inline" style="color: #fc5c64; font-weight: bold">Airnb</h1>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>

    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ path('flats')}}">Home</a>
          </li>

          {% if app.user %}

          <li class="nav-item dropdown big">
            <div class="user-avatar-container d-flex align-items-center "  id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="ml-2">
                <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="presentation" focusable="false" style="display: block; fill: none; height: 16px; width: 16px; stroke: currentcolor; stroke-width: 3; overflow: visible;"><g fill="none" fill-rule="nonzero"><path d="m2 16h28"></path><path d="m2 24h28"></path><path d="m2 8h28"></path></g></svg>
              </div>
              <img class="avatar dropdown-toggle " src="{{ app.user.getImagePath() }}" />
              </div>

              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/dashboard ">Dashboard</a>
                <a class="dropdown-item" href="{{ path('logout') }}">Logout</a>
              </div>
            </li>

             <li class="nav-item dropdown small">
               <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="{{ app.user.getImagePath() }}" />
                  <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/dashboard ">Dashboard</a>
                    <a class="dropdown-item" href="{{ path('logout') }}">Logout</a>
                  </div>
             </li>


            {% else %}
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('register') }}">Register</a>
            </li>

              <li class="nav-item active">
                <a class="nav-link" href="{{ path('login') }}">Login</a>
              </li>
            {% endif %}

          <!--li class="nav-item"-->
          <!--/li-->
      </ul>
    </div>
  </div>
</div>
