{% extends 'base.html.twig' %}

{% block title %}Dashboards Modification Flat{% endblock %}

{% block body %}
<div class="form-container m-4">

    {{form_start(form)}}
      <div>{{form_row(form.address, {'attr':{'class': 'tex-danger'}})}}</div>
      <div>{{form_row(form.pricePerDay)}}</div>
      <div>{{form_row(form.description)}}</div>
      <div>{{form_row(form.imageFile)}}</div>

      {{form_widget(form)}}
      <input type="submit" class="btn btn-primary" value="Submit"/>
    {{form_end(form)}}

</div>

<div>
    {% if toUpdate %}
      {% for image in flat.productImages %}
        <div>
           <img src="{{ asset('images/' ~ image.imageName) }}" class="card-img-top" style="width: 18rem;" />
        </div>

      {% endfor %}

    {% endif %}
</div>



{% endblock %}
