{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

<div class="d-flex justify-content-between m-3 align-items-center border-bottom">
    <h1 class="">Dashboard {{ app.user.username|title}}</h1>
    <a href="{{ path('dashboard_flat_new') }}" class="btn btn-primary m-3" style=" background-color: #fc5c64 !important;  border: 1px solid #fc5c64 !important;">Become a host</a>
</div>

{#
<div class="user-container m-3 p-2 rounded bg-secondary">
  <h3 class="text-white"></h3>
</div> #}

<h3 class="m-5">My bookings</h3>
<div class=" d-flex justify-content-between align-items-center flex-wrap m-3">


    {% for booking in app.user.bookings %}

    {% set price = date(booking.endDate).diff(date(booking.startDate)) %}
    <a href="{{ path("show_flat", {'id': booking.flat.id}) }}" class="text-decoration-none text-dark">
    <div class="card-product mb-3">
        <img src="{{ booking.flat.productImages[0].getImagePath()}}" />
        <div class="card-product-infos">
          <h2>{{ booking.flat.address }}</h2>
          <p>from: {{ booking.startDate|date("d/m/Y")  }} to: {{ booking.endDate|date("d/m/Y")  }} </p>
          <p>price: <strong>{{ price.days * booking.flat.pricePerDay }} $</strong></p>
           {% set status = booking.accepted == false and booking.rejected == false %}
          {% if status %}
              <form method="post" action="{{ path('app_booking_delete', {'id': booking.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                  <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ booking.id) }}">
                  <button class="btn btn-danger">Delete</button>
              </form>
          {% else %}
            <p>{{ booking.accepted ? 'Accepted' : 'Not Accepted' }}</p>
          {% endif %}
        </div>
    </div>
    </a>
    {% endfor %}
</div>


<h3 class="m-5">My rents</h3>
<div class=" d-flex justify-content-between align-items-center flex-wrap m-3">


    {% for flat in app.user.flats %}
      {% for booking in flat.bookings %}
        {% set price = date(booking.endDate).diff(date(booking.startDate)) %}
      <a href="{{ path("show_flat", {'id': booking.flat.id}) }}" class="text-decoration-none text-dark">
      <div class="card-product mb-3">
        <img src="{{flat.productImages[0].getImagePath()}}" class="card-img-top" alt="...">
        <div class="card-product-infos">
          <h2>{{ booking.flat.address }}</h2>
          <p>from: {{ booking.startDate|date("d/m/Y")  }} to: {{ booking.endDate|date("d/m/Y")  }} </p>
          <p>price: <strong>{{ price.days * booking.flat.pricePerDay }} $</strong></p>
          {% set status = booking.accepted == false and booking.rejected == false %}
          {% if status %}
              <div class="d-flex">
                  <form method="post" action="{{ path('app_booking_accepted', {'id': booking.id}) }}" onsubmit="return confirm('Are you sure you want to accept this booking?');">
                  <input type="hidden" name="_token" value="{{ csrf_token('accepted' ~ booking.id) }}">
                  <button class="btn btn-info">Validate</button>
              </form>

              <form method="post" action="{{ path('app_booking_rejected', {'id': booking.id}) }}" onsubmit="return confirm('Are you sure you want to reject this booking?');">
                  <input type="hidden" name="_token" value="{{ csrf_token('rejected' ~ booking.id) }}">
                  <button class="btn btn-danger">Reject</button>
              </form>
              </div>
          {% else %}
            <p>{{ booking.accepted ? 'Validated' : 'Rejected' }}</p>
          {% endif %}
        </div>
      </div>
      </a>

    {% endfor %}
    {% endfor %}
</div>







<h3 class="m-5">My flats</h3>
<div class="d-flex justify-content-center align-items-center flex-wrap m-3 ">

      {% for flat in flats %}
           <a href="{{ path("show_flat", {'id': flat.id}) }}" class="text-decoration-none text-dark ">
          <div class="card m-3" style="width: 18rem;">
            <img src="{{flat.productImages[0].getImagePath()}}" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">{{ flat.address }}</p>
              <p class="card-text">price/day: {{ flat.pricePerDay }} $</p>


               <div class="d-flex justify-content-center">

                  <div class="m-3">
                    <a href="{{ path('dashboard_flat_edit', {'id':flat.id}) }}" class="btn btn-outline-warning">Modify</a>
                  </div>

                  <div class="m-3">
                    <form method="POST" style="display: inline-block"  action="{{ path('flat_destroy', {'id':flat.id}) }}" onsubmit="return confirm('Are you sure you want to delete this flat?')">
                        <input type="hidden" name="_method" value="SUP">
                        <input type="hidden" name="_token" value="{{csrf_token('SUP' ~ flat.id)}}">
                        <input type="submit" value="Delete" class="btn btn-outline-danger">
                    </form>
                  </div>

              </div>

            </div>
          </div>
          </a>
      {% endfor %}


</div>


{% endblock %}
