{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<h1>Dashboard</h1>

<p>{{ app.user.email}}</p>
<p>{{ app.user.username}}</p>

<a href="" class="btn btn-primary">Add a flat</a>

<div class="flats-container">

      {% for flat in flats %}
          <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">{{ flat.description }}</p>
              <p class="card-text">{{ flat.address }}</p>
              <p class="card-text">owner: {{ flat.owner.username }}</p>
              <p class="card-text">price/day: {{ flat.pricePerDay }} $</p>

            </div>
          </div>
      {% endfor %}


</div>
{% endblock %}
