{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<div class="d-flex justify-content-between m-3 align-items-center">
    <h1 class="">Dashboard</h1>
    <a href="{{ path('dashboard_flat_new') }}" class="btn btn-primary m-3">Add a flat</a>
</div>


<div class="user-container m-3 p-2 rounded bg-info">
  <h3>{{ app.user.username|title}}</h3>
</div>




<div class="flats-container">

      {% for flat in flats %}
          <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">{{ flat.description }}</p>
              <p class="card-text">{{ flat.address }}</p>
              <p class="card-text">owner: {{ flat.owner.username }}</p>
              <p class="card-text">price/day: {{ flat.pricePerDay }} $</p>

               <div class="btn-group d-flex justify-content-center">

                <a href="{{ path('dashboard_flat_edit', {'id':flat.id}) }}" class="btn btn-outline-warning">Modify</a>

                <form method="POST" style="display: inline-block"  action="{{ path('flat_destroy', {'id':flat.id}) }}" onsubmit="return confirm('Are you sure you want to delete this flat?')">
                  <input type="hidden" name="_method" value="SUP">
                  <input type="hidden" name="_token" value="{{csrf_token('SUP' ~ flat.id)}}">
                  <input type="submit" value="Delete" class="btn btn-outline-danger">
                </form>
              </div>

            </div>
          </div>
      {% endfor %}


</div>
{% endblock %}
